<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test">
    <test name="Swag_Laps">
        <classes>
            <class name="Test_Cases.Login"/>
            <class name="Test_Cases.Cart"/>
            <class name="Test_Cases.Logout"/>
            <class name="Test_Cases.About_us"/>
        </classes>
    </test>
</suite>